#welcomeMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Semi-transparent background */
    color: black;
    font-size: 3em;
    opacity: 0;
    transition: opacity 1s;
    z-index: 9999;
   }
   
   @keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
   }
   